/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
    font-family: "DFGirl1B";
    src: url("DFGL1B.eot?") format("eot"), url("DFGL1B.woff") format("woff"), url("DFGL1B.ttf") format("truetype"), url("DFGL1B.svg#DFGirl1B") format("svg");
    font-weight: normal;
    font-style: normal;
}